@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

/* Definición de Variables de Color */
:root {
  --color-background: var(--daintree-50);
  --color-foreground: var(--daintree-950);
  --color-navbar: var(--daintree-900);
  --text-color: var(--daintree-950);

  /* Definición de la paleta Daintree */
  --daintree-50: #ecfeff;
  --daintree-100: #cff9fe;
  --daintree-200: #a4f2fd;
  --daintree-300: #66e6fa;
  --daintree-400: #20d0f0;
  --daintree-500: #04b3d6;
  --daintree-600: #068fb4;
  --daintree-700: #0d7291;
  --daintree-800: #145c76;
  --daintree-900: #154c64;
  --daintree-950: #041b25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--daintree-950);
    --color-foreground: var(--daintree-50);
    --color-navbar: var(--daintree-800);
    --text-color: var(--daintree-50);
  }
}

/* Base Styles */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: sans-serif;
  }
}

/* Animaciones */
@layer components {
  .animate {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s cubic-bezier(0.3, 1, 0.3, 1);
  }

  .animate.slide-up {
    transform: translateY(30px);
  }

  .animate.slide-right {
    transform: translateX(-30px);
  }

  .animate.slide-left {
    transform: translateX(30px);
  }

  .animate.fade-in {
    opacity: 0;
  }

  .animate.animate-in {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }

  .delay-200 {
    transition-delay: 200ms;
  }

  .delay-400 {
    transition-delay: 400ms;
  }
}
